<!DOCTYPE html>
<html>
<head>
    <title>Welcome to our API</title>
</head>
<body>
    <h1>Welcome to our API</h1>
    <p>Here's how you can use it:</p>
    <ol>
        <li>Get all activities: Send a GET request to /api/activities.</li>
        <li>Get a specific activity by its ActivityID: Send a GET request to /api/activities/{ActivityID} where {ActivityID} is the ID of the activity you want to retrieve.</li>
    </ol>
    <p>Please note that all requests should be made with the appropriate authentication.</p>
</body>
</html>